{% extends 'base.html' %}

{% block title %}
Account List
{% endblock title %}

{%block content %}
<main>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for accounts in account_list.all %}
                    <tr>
                        <td>{{accounts.name}}</td>
                        <td>{{accounts.number}}</td>
                        <td>{{accounts.receipts.all|length}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
